@media (max-width: 800px) {
    .close-button-experience {
      right: 2rem; /* or right: 16px; */
    }
    .image-size-experience{
        height: 20rem;
    }
    .description-experience{
        padding: 0;
    }
  }